/*noinspection CssUnknownTarget*/
@import url('https://fonts.googleapis.com/css?family=Lato:300,900');

* {
    box-sizing: border-box;
    /*   border: 1px solid black; */
}

body {
    font-family: 'Lato', serif;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

/**
*   TODO: tbd
*   Accordion active with h2 on the site rotated or not? --> more space without || solution could be to put it at the top or more to the left site!
*/

ul {
    display: flex;
    min-height: 100vh;
    max-height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
}

li {
    flex: 1;
    display: flex;
    align-items: stretch;
    padding: 20px;
    background: #E74C3C;
    cursor: pointer;
    transition: all .5s ease;
}
li:hover {
    background: #e53f2e;
}
li.active {
    flex: 5;
    background: #fff;
    cursor: default;
}
li.active h2 {
    color: #E74C3C;
}

/* solution without headline when active */
li.active .section-title {
    display: none;
}

li.active .section-content {
    flex: 4;

    /* solution without headline when active */
    display: flex;

    opacity: 1;
    transform: scaleX(1);
    color: #E74C3C;
    padding: 10px;
}
li .section-title {
    flex: 1;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
}
li .section-title h2 {
    margin: 0;
    transform: rotate(-90deg);
    white-space: nowrap;
}
li .section-content {
    flex: 1;
    /*display: flex;*/

    /* solution without headline when active */
    display: none;

    align-items: center;
    margin: 0;
    padding: 0;
    opacity: 0;
    transition: all .25s .1s ease-out;
}

#infoSite {
    pointer-events: none;
}

/**
    TODO: MEDIA QUERIES
 */
/* ---- iPhone 6+,7+,8+ Landscape and Portrait ---- */
@media only screen
    and (min-device-width: 414px)
    and (max-device-width: 763px)
    and (-webkit-max-device-pixel-ratio: 3)
{
    ul {
        display: block;
        min-height: 0;
        max-height: none;
    }
    p {
        font-size: 50%;
        display: none;
    }
    li.active p {
        font-size: 100%;
        display: flex;
    }
    li .section-title h2 {
        transform: none;
    }
    /*
    li.active h2 {
         transform: rotate(-90deg);
     }
     */
    li .section-content {
        transition: none;
    }
    li.active .section-content {
        transform: none;
        padding: 0;
     }
}
