/* NAVBAR - CSS */
nav {
    padding: 20px 25px !important;
}
nav a{
    color: white;
}
nav span {
    transition: 500ms ease;
    background-color: transparent !important;
    color: white !important;
    /* background: linear-gradient(#000 30%, #0000) !important; */
}

nav button {
    width: 110px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}
#navbarText {
    padding-left: 20px;
}
.navbar-brand {
    font-size: 150% !important;
    vertical-align: top !important;
    letter-spacing: 1px;
    font-weight: lighter;
}
.nav-link:hover {
    color: #00C2B3;
}
.scrolled {
    color: black !important;
}
