/* NAVBAR - CSS */
nav a, nav button {
    transition: 500ms ease;
    background-color: transparent !important;
    color: white !important;
    /* background: linear-gradient(#000 30%, #0000) !important; */
}
.scrolled {
    color: black !important;
}
