:root {
}

::selection {
    color: #000000;
    background: #ffffff;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #000;
}

section {
    min-height: 100vh;
    height: 100vh;
    color: #000;
    background: ghostwhite;
}

#section-0 {
    height: 70vh;
    min-height: 70vh;
    background-image: url("../../assets/backgrounds/30426.jpg");
    color: #ffffff;
    background-position-y: 30%;
    background-position-x: 100%;
}
#section-0 h1 {
    text-transform: uppercase;
    text-align: center;
    vertical-align: center;
    padding-top: 20vh;
}
#section-0 p {
    text-align: center;
    padding: 0 35% 0 35%;
}

.scrollup:hover, .scrolldown:hover {
    bottom: 46vh;
    text-shadow: 2px 1px 6px rgba(0, 0, 0, 0.12);
}

.scrolldown, .scrollup {
    position: absolute;
    cursor: pointer;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    bottom: 45vh;
    transition-duration: 0.3s;
    transition-timing-function: ease;

}
